@font-face {
    font-family: 'Consolas';
    src: url('./consolas.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('./consolasb.ttf');
    font-weight: bold;
}

body {
	margin: 1.5%;
}

a, p, h1 {
	font-family: 'Consolas';
}

h1 {
	margin-bottom: 8px;
	font-size: 24px;
}

td {
	width: 50%;
	padding-right: 30px;
	text-align: right;
}

input, select {
	font-family: 'Consolas';
	border: 2px solid black;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 150px;
	font-weight: bold;
}

select {
	/* почему то select считает что 150 пикселей это то же самое что и 163 пикселя
	   поэтому тут лежит этот костыль что бы сделать все элементы ввода равными по ширине */
	width: 163px;	
}

input[type="button"] {
	width: 163px;
}

input[type="button"]:hover:enabled, input[type="submit"]:hover:enabled {
	background-color: rgb(60,179,113);	/* зеленоватый оттенок */
}

select[name="Model"] {
	/*background-color: rgb(73, 169, 223);*/
}

.input_dscr {
	display: inline-block;
	font-weight: bold;
	float: left;
}

.limit_dscr {
	color: rgb(100, 100, 100);
	font-weight: normal;
}